%form.form-horizontal{ :action => '/homes' }
  %fieldset
    %input.full-width{ :type => "text", :name => "q", :value => "", :placeholder => "Enter your address" }
    %button.btn{ :type => "submit" } Go
