@import compass/css3

#mme

  .schedule-rating
    margin-left: 100px !important

  .nav
    padding: 10px 12px

    .btn
      margin: 0

    li:last-child
      a
        margin: 0 0 0 30px
        padding: 0

      .resnet
        +border-radius(4px)

  .navbar
    margin-bottom: 0
    border-bottom: 1px solid #CCC

    .navbar-inner
      background: #8cc63e
      +border-radius(0)

    .brand
      margin: 0
      padding: 0

      a:hover
        background: none

  .container-fluid
    padding: 0

  #q
    padding: 4px 0 4px 28px

  .icon-search
    position: absolute
    top: 7px
    left: 10px
    z-index: 100

  .form-search fieldset
    display: inline
    margin: 0 50px
    position: relative

  body
    margin: 0
    overflow: auto

  footer
    margin: 20px 0 10px 0 !important
    text-align: center

  .map-wrapper
    height: 500px
    width: 100%
    position: relative
    overflow: auto

  #map-canvas
    // height: 100%
    overflow: hidden
    // width: 100%
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0

    img
      max-width: none

    .marker-content
      a.btn
        display: block
        margin: 5px 0

  body.landing
    background: url(/assets/bg.jpg) no-repeat center center fixed
    +background-size(cover)

    .navbar
      display: none

    .form-search
      margin-top: 250px
      text-align: center

      .rawr
        background: rgba(255, 255, 255, 0.3)
        display: inline-block
        +border-radius(4px)
        padding: 20px

        h2
          color: #222
          font-size: 24px
          margin: 0 0 15px 0
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
          font-weight: 300

    footer
      color: #999
      font-size: 11px
      margin-top: 200px !important

  .marker-content
    max-width: 300px
    overflow: hidden
